<html>
    <head>
        <tilte>Gopher Face - Sign Up</tilte>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/static/css/gopherface.css" />
    </head>
    <body>
        <h1>Gopher Face - Sign Up</h1>
        <div class="formContainer">
            <form action="/signup" method="POST" class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="username">Username</label>
                        <input id="username" type="text" placeholder="Username" name="username" value="{{.Fields.}}">
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>